<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todoListMapper">
    <select id="selectTodoList">
        select * from todoList
    </select>

    <insert id="insertTodoList">
        insert into todoList values (#{color}, ${id}, #{text}, ${checked})
    </insert>

    <update id="updateTodoList">
        update todoList set checked = ${checked} where id = ${id}
    </update>

    <delete id="deleteTodoList">
        delete from todoList where id = ${id}
    </delete>
</mapper>
